<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
   id="bsb-talend-codegen"
   name="bsb-talend-codegen"
   version="${project.version}"
   provider-name="bsb.com">
   <requires>
      <import plugin="org.eclipse.equinox.app" version="1.3.200"/>
      <import plugin="org.talend.core.repository" version="6.1.1.20151214_1327"/>
   </requires>
    <extension id="com.bsb.tools.talend.export.JobExportApplication"
               point="org.eclipse.core.runtime.applications">
        <application>
            <run class="com.bsb.tools.talend.export.JobExportApplication"/>
        </application>
    </extension>
</plugin>
